.page[b-dj6azzh6l4] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-dj6azzh6l4] {
    flex: 1;
}

.sidebar[b-dj6azzh6l4] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.message-box-debug[b-dj6azzh6l4] {
    border: 2px dashed magenta;
    color: magenta;
    font-size: 12px;
    padding: 6px 12px;
    background-color: rgba(255, 0, 255, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    pointer-events: none;
    text-align: center;
    border-radius: 8px;
}


.top-row[b-dj6azzh6l4] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-dj6azzh6l4]  a, .top-row[b-dj6azzh6l4]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-dj6azzh6l4]  a:hover, .top-row[b-dj6azzh6l4]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-dj6azzh6l4]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-dj6azzh6l4] {
        justify-content: space-between;
    }

        .top-row[b-dj6azzh6l4]  a, .top-row[b-dj6azzh6l4]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-dj6azzh6l4] {
        flex-direction: row;
    }

    .sidebar[b-dj6azzh6l4] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-dj6azzh6l4] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-dj6azzh6l4]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-dj6azzh6l4], article[b-dj6azzh6l4] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
